<a href="https://colab.research.google.com/github/DeanPhillipsOKC/pandas-notes/blob/master/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas Series

In [0]:
import numpy as np
import pandas as pd

First, lets create a pandas series from a an array.  The resulting data set will generate its own key based on the index of each element

In [4]:
pd.Series(data=[10, 20, 30])

0    10
1    20
2    30
dtype: int64

Now, lets also provide some custom indexes using a labels array

In [6]:
pd.Series(data=[10, 20, 30], index=['a', 'b', 'c'])

a    10
b    20
c    30
dtype: int64

We can also use NumPy arrays

In [7]:
pd.Series(data=np.array([10, 20, 30]), index=np.array(['a', 'b', 'c']))

a    10
b    20
c    30
dtype: int64

We can also convert a dictionary to a pandas series

In [10]:
pd.Series({'a' : 10, 'b' : 20, 'c' : 30})

a    10
b    20
c    30
dtype: int64

We can do math on pandas series.  In this example we add q1 and q2 sales data.  Canada, and Japan are each only in one of the series, so when we add the sales data, those contries will return NaN.

In [0]:
salesQ1 = pd.Series([100, 150, 50], ['USA', 'China', 'Canada'])

In [0]:
salesQ2 = pd.Series([50, 500, 700], ['USA', 'China', 'Japan'])

In [13]:
salesQ1 + salesQ2

Canada      NaN
China     650.0
Japan       NaN
USA       150.0
dtype: float64