<a href="https://colab.research.google.com/github/DeanPhillipsOKC/pandas-notes/blob/master/Pandas_GroupBy_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas GroupBy Expressions

In [0]:
import numpy as np
import pandas as pd
from google.colab import files # required to updload the datasource

In [9]:
files.upload() # Will prompt for the datasource (this is the universities.csv file that came with the course)

Saving Universities.csv to Universities (1).csv

{'Universities.csv': b'Sector,University,Year,Completions,Geography\r\n"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada\r\n"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada\r\n"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada\r\n"Public, 4-year or above",Western Nevada College,2016,960,Nevada\r\n"Private for-profit, less-than 2-year",Advanced Training Institute,2016,372,Nevada\r\n"Public, 4-year or above",Great Basin College,2016,858,Nevada\r\n"Private for-profit, less-than 2-year",European Massage Therapy School-Las Vegas,2016,85,Nevada\r\n"Private for-profit, less-than 2-year",Institute of Professional Careers,2016,24,Nevada\r\n"Public, 4-year or above",Nevada State College,2016,420,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Sparks,2016,271,Nevada\r\n"Public, 4-year or above",University of Nevada-Las Vegas,2016,5367,Nevada\r\n"Private for-profit, less-than 2-year",Academy of Hair Design-Las Vegas,2016,124,Nevada\r\n"Private for-profit, 2-year",Northwest Career College,2016,208,Nevada\r\n"Public, 4-year or above",University of Nevada-Reno,2016,4309,Nevada\r\n"Private for-profit, 2-year",Le Cordon Bleu College of Culinary Arts-Las Vegas,2016,222,Nevada\r\n"Private not-for-profit, 4-year or above",Sierra Nevada College,2016,261,Nevada\r\n"Private not-for-profit, 4-year or above",Wongu University of Oriental Medicine,2016,0,Nevada\r\n"Private for-profit, 2-year",Carrington College-Reno,2016,165,Nevada\r\n"Private for-profit, 2-year",Carrington College-Las Vegas,2016,210,Nevada\r\n"Private not-for-profit, 4-year or above",Touro University Nevada,2016,356,Nevada\r\n"Public, 4-year or above",College of Southern Nevada,2016,4763,Nevada\r\n"Private not-for-profit, 4-year or above",Roseman University of Health Sciences,2016,591,Nevada\r\n"Private for-profit, 2-year",Brightwood College-Las Vegas,2016,581,Nevada\r\n"Private for-profit, 2-year",Career College of Northern Nevada,2016,299,Nevada\r\n"Private for-profit, 4-year or above",University of Phoenix-Nevada,2016,423,Nevada\r\n"Private for-profit, 4-year or above",Chamberlain College of Nursing-Nevada,2016,0,Nevada\r\n"Private for-profit, 4-year or above",Arizona College-Las Vegas,2016,0,Nevada\r\n"Private for-profit, 2-year",Aviation Institute of Maintenance-Las Vegas,2016,83,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Reno,2016,74,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Las Vegas,2016,156,Nevada\r\n"Private for-profit, 4-year or above",DeVry University-Nevada,2016,99,Nevada\r\n"Private for-profit, 2-year",International Academy of Style,2016,71,Nevada\r\n"Private for-profit, 4-year or above",The Art Institute of Las Vegas,2016,135,Nevada\r\n"Private for-profit, 2-year",Casal Institute of Nevada,2016,109,Nevada\r\n"Private for-profit, 2-year",Milan Institute of Cosmetology-Reno,2016,83,Nevada\r\n"Private for-profit, 4-year or above",Sanford-Brown College-Las Vegas,2016,91,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Green Valley,2016,96,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Summerlin,2016,187,Nevada\r\n"Public, 2-year",Truckee Meadows Community College,2016,2431,Nevada\r\n"Private for-profit, 2-year",Nevada Career Institute,2016,151,Nevada\r\n"Private not-for-profit, 2-year",Everest College-Henderson,2016,233,Nevada\r\n"Private not-for-profit, 2-year",Expertise Cosmetology Institute,2016,89,Nevada\r\n"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2015,597,Nevada\r\n"Private not-for-profit, 4-year or above",Roseman University of Health Sciences,2015,517,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Sparks,2015,320,Nevada\r\n"Public, 4-year or above",University of Nevada-Las Vegas,2015,5335,Nevada\r\n"Private for-profit, 2-year",Brightwood College-Las Vegas,2015,721,Nevada\r\n"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2015,38,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Las Vegas,2015,197,Nevada\r\n"Private for-profit, 2-year",Career College of Northern Nevada,2015,317,Nevada\r\n"Private for-profit, 4-year or above",University of Phoenix-Nevada,2015,600,Nevada\r\n"Private for-profit, less-than 2-year",Advanced Training Institute,2015,266,Nevada\r\n"Private for-profit, 4-year or above",Chamberlain College of Nursing-Nevada,2015,0,Nevada\r\n"Private for-profit, less-than 2-year",Academy of Hair Design-Las Vegas,2015,180,Nevada\r\n"Private for-profit, 4-year or above",Arizona College-Las Vegas,2015,0,Nevada\r\n"Public, 4-year or above",Great Basin College,2015,769,Nevada\r\n"Public, 4-year or above",University of Nevada-Reno,2015,4004,Nevada\r\n"Private for-profit, 2-year",Aviation Institute of Maintenance-Las Vegas,2015,29,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2015,417,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Henderson,2015,127,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Reno,2015,83,Nevada\r\n"Private for-profit, 2-year",Northwest Career College,2015,184,Nevada\r\n"Private for-profit, 4-year or above",DeVry University-Nevada,2015,108,Nevada\r\n"Public, 4-year or above",College of Southern Nevada,2015,4630,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Las Vegas,2015,120,Nevada\r\n"Private for-profit, 2-year",Le Cordon Bleu College of Culinary Arts-Las Vegas,2015,138,Nevada\r\n"Private for-profit, 2-year",International Academy of Style,2015,84,Nevada\r\n"Private for-profit, 4-year or above",The Art Institute of Las Vegas,2015,185,Nevada\r\n"Private not-for-profit, 4-year or above",Sierra Nevada College,2015,309,Nevada\r\n"Private for-profit, less-than 2-year",European Massage Therapy School-Las Vegas,2015,67,Nevada\r\n"Private for-profit, 2-year",Casal Institute of Nevada,2015,108,Nevada\r\n"Public, 4-year or above",Western Nevada College,2015,925,Nevada\r\n"Private for-profit, 4-year or above",Sanford-Brown College-Las Vegas,2015,89,Nevada\r\n"Public, 4-year or above",Nevada State College,2015,393,Nevada\r\n"Private for-profit, 2-year",Milan Institute of Cosmetology-Reno,2015,82,Nevada\r\n"Private for-profit, 2-year",Carrington College-Reno,2015,205,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Green Valley,2015,78,Nevada\r\n"Public, 2-year",Truckee Meadows Community College,2015,2355,Nevada\r\n"Private not-for-profit, 4-year or above",Touro University Nevada,2015,402,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Summerlin,2015,162,Nevada\r\n"Private for-profit, less-than 2-year",Institute of Professional Careers,2015,25,Nevada\r\n"Private for-profit, 2-year",Nevada Career Institute,2015,169,Nevada\r\n"Private not-for-profit, 2-year",Everest College-Henderson,2015,357,Nevada\r\n"Private for-profit, 2-year",Carrington College-Las Vegas,2015,203,Nevada\r\n"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2015,316,Nevada\r\n"Private not-for-profit, 2-year",Expertise Cosmetology Institute,2015,68,Nevada\r\n"Private not-for-profit, 4-year or above",Roseman University of Health Sciences,2014,418,Nevada\r\n"Private not-for-profit, 2-year",Expertise Cosmetology Institute,2014,75,Nevada\r\n"Public, 4-year or above",College of Southern Nevada,2014,4608,Nevada\r\n"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2014,8,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2014,224,Nevada\r\n"Private for-profit, 2-year",Nevada Career Institute,2014,130,Nevada\r\n"Private not-for-profit, 2-year",Everest College-Henderson,2014,374,Nevada\r\n"Public, 4-year or above",Western Nevada College,2014,842,Nevada\r\n"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2014,290,Nevada\r\n"Public, 4-year or above",Great Basin College,2014,704,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Summerlin,2014,82,Nevada\r\n"Private for-profit, less-than 2-year",Advanced Training Institute,2014,147,Nevada\r\n"Public, 2-year",Truckee Meadows Community College,2014,2286,Nevada\r\n"Private for-profit, less-than 2-year",European Massage Therapy School-Las Vegas,2014,83,Nevada\r\n"Public, 4-year or above",Nevada State College,2014,365,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Green Valley,2014,104,Nevada\r\n"Private for-profit, less-than 2-year",Institute of Professional Careers,2014,10,Nevada\r\n"Public, 4-year or above",University of Nevada-Las Vegas,2014,5093,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Sparks,2014,310,Nevada\r\n"Private for-profit, less-than 2-year",Academy of Hair Design-Las Vegas,2014,256,Nevada\r\n"Private for-profit, 2-year",Milan Institute of Cosmetology-Reno,2014,106,Nevada\r\n"Public, 4-year or above",University of Nevada-Reno,2014,3550,Nevada\r\n"Private for-profit, 4-year or above",Sanford-Brown College-Las Vegas,2014,81,Nevada\r\n"Private for-profit, 2-year",Northwest Career College,2014,164,Nevada\r\n"Private not-for-profit, 4-year or above",Sierra Nevada College,2014,275,Nevada\r\n"Private for-profit, 2-year",Casal Institute of Nevada,2014,94,Nevada\r\n"Private for-profit, 2-year",Le Cordon Bleu College of Culinary Arts-Las Vegas,2014,277,Nevada\r\n"Private for-profit, 2-year",Carrington College-Reno,2014,157,Nevada\r\n"Private not-for-profit, 4-year or above",Touro University Nevada,2014,349,Nevada\r\n"Private for-profit, 2-year",Carrington College-Las Vegas,2014,113,Nevada\r\n"Private for-profit, 2-year",International Academy of Style,2014,69,Nevada\r\n"Private for-profit, 4-year or above",The Art Institute of Las Vegas,2014,189,Nevada\r\n"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2014,567,Nevada\r\n"Private for-profit, 2-year",Brightwood College-Las Vegas,2014,624,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Las Vegas,2014,218,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Las Vegas,2014,138,Nevada\r\n"Private for-profit, 4-year or above",University of Phoenix-Nevada,2014,708,Nevada\r\n"Private for-profit, 4-year or above",DeVry University-Nevada,2014,127,Nevada\r\n"Private for-profit, 2-year",Career College of Northern Nevada,2014,239,Nevada\r\n"Private for-profit, 2-year",Aviation Institute of Maintenance-Las Vegas,2014,0,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Reno,2014,93,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Henderson,2014,183,Nevada\r\n"Private for-profit, 2-year",Aviation Institute of Maintenance-Las Vegas,2013,0,Nevada\r\n"Private for-profit, 4-year or above",DeVry University-Nevada,2013,97,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Henderson,2013,217,Nevada\r\n"Private for-profit, 2-year",Career College of Northern Nevada,2013,275,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Las Vegas,2013,128,Nevada\r\n"Private for-profit, 2-year",Brightwood College-Las Vegas,2013,575,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Las Vegas,2013,168,Nevada\r\n"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2013,588,Nevada\r\n"Private for-profit, 4-year or above",The Art Institute of Las Vegas,2013,194,Nevada\r\n"Private not-for-profit, 2-year",Expertise Cosmetology Institute,2013,55,Nevada\r\n"Private not-for-profit, 4-year or above",Roseman University of Health Sciences,2013,412,Nevada\r\n"Private for-profit, 2-year",Carrington College-Las Vegas,2013,77,Nevada\r\n"Private for-profit, 2-year",International Academy of Style,2013,55,Nevada\r\n"Private for-profit, 2-year",Carrington College-Reno,2013,135,Nevada\r\n"Private not-for-profit, 4-year or above",Touro University Nevada,2013,372,Nevada\r\n"Private for-profit, 2-year",Le Cordon Bleu College of Culinary Arts-Las Vegas,2013,438,Nevada\r\n"Private for-profit, 4-year or above",Sanford-Brown College-Las Vegas,2013,99,Nevada\r\n"Private for-profit, 2-year",Casal Institute of Nevada,2013,65,Nevada\r\n"Private not-for-profit, 4-year or above",Sierra Nevada College,2013,232,Nevada\r\n"Private for-profit, 2-year",Northwest Career College,2013,116,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Reno,2013,91,Nevada\r\n"Private for-profit, less-than 2-year",Academy of Hair Design-Las Vegas,2013,84,Nevada\r\n"Private for-profit, 2-year",Milan Institute of Cosmetology-Reno,2013,111,Nevada\r\n"Public, 4-year or above",University of Nevada-Reno,2013,3551,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Sparks,2013,293,Nevada\r\n"Public, 2-year",Truckee Meadows Community College,2013,1633,Nevada\r\n"Public, 4-year or above",University of Nevada-Las Vegas,2013,5278,Nevada\r\n"Private for-profit, less-than 2-year",Institute of Professional Careers,2013,8,Nevada\r\n"Public, 4-year or above",College of Southern Nevada,2013,2741,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Green Valley,2013,105,Nevada\r\n"Private for-profit, less-than 2-year",European Massage Therapy School-Las Vegas,2013,63,Nevada\r\n"Public, 4-year or above",Nevada State College,2013,303,Nevada\r\n"Private for-profit, less-than 2-year",Advanced Training Institute,2013,157,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Summerlin,2013,110,Nevada\r\n"Public, 4-year or above",Great Basin College,2013,422,Nevada\r\n"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2013,372,Nevada\r\n"Private not-for-profit, 2-year",Everest College-Henderson,2013,416,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2013,304,Nevada\r\n"Private for-profit, 2-year",Nevada Career Institute,2013,184,Nevada\r\n"Public, 4-year or above",Western Nevada College,2013,522,Nevada\r\n"Private for-profit, less-than 2-year",Academy of Hair Design-Las Vegas,2012,110,Nevada\r\n"Private for-profit, 2-year",Career College of Northern Nevada,2012,333,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Las Vegas,2012,78,Nevada\r\n"Private not-for-profit, 4-year or above",Roseman University of Health Sciences,2012,388,Nevada\r\n"Public, 4-year or above",University of Nevada-Reno,2012,3453,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Sparks,2012,248,Nevada\r\n"Private for-profit, 2-year",International Academy of Style,2012,75,Nevada\r\n"Private for-profit, 2-year",Milan Institute of Cosmetology-Reno,2012,122,Nevada\r\n"Private for-profit, 2-year",Carrington College-Reno,2012,145,Nevada\r\n"Public, 4-year or above",College of Southern Nevada,2012,2348,Nevada\r\n"Private for-profit, less-than 2-year",Institute of Professional Careers,2012,13,Nevada\r\n"Private for-profit, 4-year or above",Sanford-Brown College-Las Vegas,2012,51,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Las Vegas,2012,118,Nevada\r\n"Public, 4-year or above",University of Nevada-Las Vegas,2012,5388,Nevada\r\n"Private not-for-profit, 4-year or above",Touro University Nevada,2012,430,Nevada\r\n"Private for-profit, less-than 2-year",European Massage Therapy School-Las Vegas,2012,21,Nevada\r\n"Private for-profit, 2-year",Le Cordon Bleu College of Culinary Arts-Las Vegas,2012,368,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Green Valley,2012,153,Nevada\r\n"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2012,593,Nevada\r\n"Public, 4-year or above",Nevada State College,2012,272,Nevada\r\n"Private for-profit, less-than 2-year",Advanced Training Institute,2012,218,Nevada\r\n"Private for-profit, 2-year",Paul Mitchell the School-Reno,2012,78,Nevada\r\n"Private not-for-profit, 2-year",Everest College-Henderson,2012,536,Nevada\r\n"Private for-profit, 4-year or above",The Art Institute of Las Vegas,2012,200,Nevada\r\n"Private for-profit, 4-year or above",ITT Technical Institute-Henderson,2012,263,Nevada\r\n"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2012,392,Nevada\r\n"Private for-profit, 2-year",Northwest Career College,2012,138,Nevada\r\n"Private for-profit, 2-year",Euphoria Institute of Beauty Arts & Sciences-Summerlin,2012,113,Nevada\r\n"Public, 4-year or above",Great Basin College,2012,452,Nevada\r\n"Private for-profit, 2-year",Brightwood College-Las Vegas,2012,568,Nevada\r\n"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2012,325,Nevada\r\n"Private for-profit, 2-year",Casal Institute of Nevada,2012,87,Nevada\r\n"Private not-for-profit, 4-year or above",Sierra Nevada College,2012,241,Nevada\r\n"Private for-profit, 2-year",Carrington College-Las Vegas,2012,120,Nevada\r\n"Public, 4-year or above",Western Nevada College,2012,495,Nevada\r\n"Private for-profit, 2-year",Nevada Career Institute,2012,101,Nevada\r\n"Private not-for-profit, 2-year",Expertise Cosmetology Institute,2012,129,Nevada\r\n"Public, 2-year",Truckee Meadows Community College,2012,1170,Nevada\r\n'}

## Read the CSV data source as a Pandas DataFrame

In [0]:
df = pd.read_csv('Universities.csv')

In [10]:
df

                                   Sector  ... Geography
0              Private for-profit, 2-year  ...    Nevada
1    Private for-profit, less-than 2-year  ...    Nevada
2    Private for-profit, less-than 2-year  ...    Nevada
3    Private for-profit, less-than 2-year  ...    Nevada
4                 Public, 4-year or above  ...    Nevada
..                                    ...  ...       ...
202            Private for-profit, 2-year  ...    Nevada
203               Public, 4-year or above  ...    Nevada
204            Private for-profit, 2-year  ...    Nevada
205        Private not-for-profit, 2-year  ...    Nevada
206                        Public, 2-year  ...    Nevada

[207 rows x 5 columns]

In [11]:
df.head()

                                 Sector  ... Geography
0            Private for-profit, 2-year  ...    Nevada
1  Private for-profit, less-than 2-year  ...    Nevada
2  Private for-profit, less-than 2-year  ...    Nevada
3  Private for-profit, less-than 2-year  ...    Nevada
4               Public, 4-year or above  ...    Nevada

[5 rows x 5 columns]

## Using aggregating functions on categories

The completions column is the only one to show up in these examples because it's the only column that would make sense in the context of a numerical statistics function

In [12]:
df.groupby('Year').sum()

      Completions
Year
2012        20333
2013        21046
2014        24730
2015        26279
2016        26224

In [13]:
df.groupby('Year').mean()

      Completions
Year
2012   535.078947
2013   526.150000
2014   588.809524
2015   597.250000
2016   609.860465

Can change the sort order of the index column by setting the ascending flag in sort_index

In [18]:
df.groupby('Year').sum().sort_index(ascending=False)

      Completions
Year
2016        26224
2015        26279
2014        24730
2013        21046
2012        20333

## Grouping by multiple categories

Notice in the example below that we still have only one data column (completions), but now have a multi tiered index (year and sector)

In [19]:
df.groupby(['Year', 'Sector']).sum()

                                              Completions
Year Sector
2012 Private for-profit, 2-year                      3072
     Private for-profit, 4-year or above              632
     Private for-profit, less-than 2-year            1327
     Private not-for-profit, 2-year                   665
     Private not-for-profit, 4-year or above         1059
     Public, 2-year                                  1170
     Public, 4-year or above                        12408
2013 Private for-profit, 2-year                      3053
     Private for-profit, 4-year or above              775
     Private for-profit, less-than 2-year            1281
     Private not-for-profit, 2-year                   471
     Private not-for-profit, 4-year or above         1016
     Public, 2-year                                  1633
     Public, 4-year or above                        12817
2014 Private for-profit, 2-year                      2957
     Private for-profit, 4-year or above             1506
     Private for-profit, less-than 2-year            1328
     Private not-for-profit, 2-year                   449
     Private not-for-profit, 4-year or above         1042
     Public, 2-year                                  2286
     Public, 4-year or above                        15162
2015 Private for-profit, 2-year                      3280
     Private for-profit, 4-year or above             1306
     Private for-profit, less-than 2-year            1629
     Private not-for-profit, 2-year                   425
     Private not-for-profit, 4-year or above         1228
     Public, 2-year                                  2355
     Public, 4-year or above                        16056
2016 Private for-profit, 2-year                      3286
     Private for-profit, 4-year or above              748
     Private for-profit, less-than 2-year            1552
     Private not-for-profit, 2-year                   322
     Private not-for-profit, 4-year or above         1208
     Public, 2-year                                  2431
     Public, 4-year or above                        16677

## Getting summary statistics for a group by

In [20]:
df.groupby('Year').describe()

     Completions
           count        mean          std   min     25%    50%     75%     max
Year
2012        38.0  535.078947  1036.433239  13.0  114.25  229.5  420.50  5388.0
2013        40.0  526.150000  1040.474782   0.0   98.50  189.0  413.00  5278.0
2014        42.0  588.809524  1150.355857   0.0  104.50  203.5  371.75  5093.0
2015        44.0  597.250000  1183.371791   0.0   87.75  191.0  405.75  5335.0
2016        43.0  609.860465  1235.952796   0.0   90.00  208.0  414.00  5367.0

In [22]:
df.groupby('Year').describe().transpose()

Year                      2012         2013  ...         2015         2016
Completions count    38.000000    40.000000  ...    44.000000    43.000000
            mean    535.078947   526.150000  ...   597.250000   609.860465
            std    1036.433239  1040.474782  ...  1183.371791  1235.952796
            min      13.000000     0.000000  ...     0.000000     0.000000
            25%     114.250000    98.500000  ...    87.750000    90.000000
            50%     229.500000   189.000000  ...   191.000000   208.000000
            75%     420.500000   413.000000  ...   405.750000   414.000000
            max    5388.000000  5278.000000  ...  5335.000000  5367.000000

[8 rows x 5 columns]